body {
    background-color: black;
    margin: 0;
    overflow: hidden;
  }
  
  img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }